<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.binplaceapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FindRestaurantActivity"
            android:label="음식점 찾기" >
        </activity>
        <activity
            android:name=".ReservationActivity"
            android:label="예약 하기" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="세팅" >
        </activity>
        <activity
            android:name=".RestaurantDetailActivity"
            android:label="음식점 정보" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="지도" >
        </activity>
        <activity
            android:name=".MenuInfoActivity"
            android:label="메뉴" >
        </activity>
        <activity
            android:name=".MyFavoriteActivity"
            android:label="즐겨찾기" >
        </activity>
        <activity
            android:name=".WaitingActivity"
            android:label="대기표신청" >
        </activity>
        <activity
            android:name=".ShowWaitingActivity"
            android:label="대기표보기" >
        </activity>
        <activity android:name=".SlidingTabActivity" >
        </activity>
        <activity
            android:name=".LocalSearchActivity"
            android:label="지역별 검색(구)" >
        </activity>
        <activity
            android:name=".LocalSearchRestaurantActivity"
            android:label="지역별 음식점 검색" >
        </activity>
        <activity android:name=".SplashActivity" 
            >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAZY3i7Bhs0mxl_W5RCqPXbPXDP67SxvJM" />

        <activity
            android:name=".LocalSearchDongActivity"
            android:label="지역별 검색(동)" >
        </activity>
        <activity
            android:name=".FavoriteActivity"
            android:label="즐겨찾기" >
        </activity>
    </application>

</manifest>
